@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
h1 {
    color: royalblue;
}
strong{
    /* currentcolor : 부모의 컬러값 상속받음 */
    border: 5px solid currentColor;
}

h2 {
  color: #999;
  font-family: 'Pretendard-Regular', Verdana, sans-serif;
}