div{
    margin: 0;
    padding: 0;
}
:root {
    --yellow-color:#FFEA52;
    --pink-color:#EF7FAF;}

.egg {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 600px;
}

.heart{
    position:absolute;
    top:-10%;
    z-index: 100;
    animation: heart-move 0.7s 1;
    animation-delay: 4s;
    transform: scale(1);
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 100%;
    
}

@keyframes heart-move{
    0%{scale: 0;}
    50%{scale: 1.3;};
}

.egg-face{
    position: relative ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.eye{
    background-color: black;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    border-radius: 7px;
    z-index: 300;
  }

.lefteye{
    position: absolute;
    top:45%;
    left:25%;

    animation-name: move-lefteye;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
.righteye{
    position: absolute ;
    top:45%;
    right:25%;

    animation-name: move-righteye;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
    @keyframes move-lefteye {
        0%{
        top:75%;
        height:0px;
        border-radius: 0 0 7px 7px;
        top:80%;
        background-color:none ;
        border: none;
        }
        1% {
        background:blank ;
        border: 2px solid black;
        }
        20% {
        top:45%;
        width:10px;
        height: 10px;
        border-radius: 7px;
        left : 25%;
        }
        30%{left:20%;}
        40%{left:25%;}
        50%{left:35%;}
        60%{left:25%;}
    }

    @keyframes move-righteye {
        0%{
        top:75%;
        height:0px;
        border-radius: 0 0 7px 7px;
        top:80%;
        background-color:none ;
        border: none;
        }
        1% {
        background:blank ;
        border: 2px solid black;
        }
        20% {
        top:45%;
        width:10px;
        height: 10px;
        border-radius: 7px;
        right : 25%;
        }
        30%{right:35%;}
        40%{right:25%;}
        50%{right:20%;}
        60%{right:25%;}
    }



.star {
    height: 9px;
    width: 9px;
    background-color: white;
    display: grid;
    grid-template-areas:
    "a b"
    "c d";
    z-index: 500;
    position: absolute;
    scale: 1;
    animation: twinkle 0.2s infinite;
    animation-delay: 8s;
    animation-fill-mode: backwards;
}
.leftstar {
    top:47.5%;
    left:26.8%;
}
.rightstar{
    top:47.5%;
    right:26.8%;
}

@keyframes twinkle{
0%{scale: 0;}
10%{scale: 100%;}
90%{scale: 60%;}
100%{scale: 100%;}
}

.star > div{
    height: 100%;
    width: 100%;
    background-color: black;
}
.a {
    grid-area: a;
    border-radius: 0 0 30px 0 ;
}
.b {
    grid-area: b;
    border-radius: 0 0 0 30px ;
}
.c {
    grid-area: c;
    border-radius: 0 30px 0 0 ;
}
.d {
    grid-area: d;
    border-radius: 30px 0 0 0 ;
}

.blusher {
    background-color: var(--pink-color);
    width: 20px;
    height: 10px;
    border-radius: 10px/5px;

    animation-name: move-blu;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 8s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
.lefhblu{
    position: absolute;
    top:60%;
    left:10%;
}
.rightblu{
    position: absolute;
    top:60%;
    right:10%;
}
@keyframes move-blu {
    0%{
    top:65%;
    height:0px;
    }

    20%{
    top:60%;
    width: 20px;
    height: 10px;
    border-radius: 10px/5px;
    }
}

.mouth{
    background-color: var(--pink-color);
    border: 2px black solid;
    height: 15px;
    width: 20px;
    border-radius: 2px;
    position: absolute ;
    left:50%;
    top:55%;
    transform: translate(-50%);

    animation-name: move-mouth;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

@keyframes move-mouth {
    0%{
    top:80%;
    height:0px;
    width: 0px;
    border: 0 black solid; 
    }
    1%{border: 2px black solid; }
    20%{
    top:55%;
    width: 20px;
    border-radius: 2px;
    border: 2px black solid;
    left:50%;
    }
    30%{left:40%;
        width:15px;}
    40%{left:50%;
        width:20px;}
    50%{left:60%;
        width:15px;}
    60%{left:50%;
        height: 0px;
        width:20px;}
    65%{height: 15px}
}

.egg-inside{
    background-color: white;
    width: 210px;
    height: 60px;
    border-radius: 105px/30px;
    position: absolute;
    z-index: 0;
    top:53%;
    border: 2px solid black;
    box-sizing: border-box;
}
.egg-body { 
    position: absolute;
    top : 56%;
    z-index: 400;
    scale: 1;
}

.body-top { 
    position: absolute;
    top : 11%;
    z-index: 400;
    scale: 1;
    animation: broke 1s 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform-origin: 99% 78%;
    transform: rotate(0deg);
    
}

@keyframes broke {
    100%{rotate : 180deg;};
}

.hand{
        background-color: var(--yellow-color);
        width: 30px;
        height: 20px;
        border-radius: 15px/10px;
        border: 2px solid black;
        box-sizing: border-box;
        z-index: 400;
}
.lefthand{
    position: absolute;
    top:78%;
    left:20%;
    rotate: 7deg;

    animation-name: move-lhand;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
    animation-duration: 7s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
}
.righthand{
    position: absolute;
    top:78%;
    right:20%;
    rotate: -7deg;
    animation-name: move-rhand;
    animation-delay: 3.5s;
    animation-fill-mode: backwards;
    animation-duration: 7s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
}

@keyframes move-lhand {
    0%{
    top:85%;
    height:0px;
    width: 20px;
    border: none;
    }   
    2%{
    top:78%;
    height:10px;
    width: 20px;
    border: 2px solid black;
        }   
    8%{
    top:78%;
    width: 30px;
    height: 20px;
    border-radius: 15px/10px;
    }
}

@keyframes move-rhand {
    0%{
    top:85%;
    height:0px;
    width: 20px;
    border: none;
    }   
    2%{
    top:78%;
    height:10px;
    width: 20px;
    border: 2px solid black;
        }   
    8%{
    top:78%;
    width: 30px;
    height: 20px;
    border-radius: 15px/10px;
    }
}

.shake{
    position:absolute;
    animation: vibration 6s 1;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;    
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    animation-fill-mode: backwards;
}

@keyframes vibration {
    0% {transform: rotate(0deg);}
    0.5% {transform: rotate(-2deg);}
    1.5%{transform: rotate(2deg);}
    2% {transform: rotate(-2deg);}
    2.5%{transform: rotate(2deg);}
    3% {transform: rotate(-2deg);}
    3.5%{transform: rotate(2deg);}
    4% {transform: rotate(-2deg);}
    4.5%{transform: rotate(2deg);}
    5% {transform: rotate(-2deg);}
    5.5%{transform: rotate(2deg);}
    5% {transform: rotate(-2deg);}
    6.5%{transform: rotate(2deg);}
    7% {transform: rotate(-2deg);}
    7.5%{transform: rotate(2deg);}
    7.5%{transform: rotate(0deg);}
}

.shadow{
    position: relative;
    background-color: black;
    z-index: 0;
    width: 100px;
    height: 40px;
    top: 280px;
    left: 250px;
    border: black solid 2px;
    border-radius: 50px/20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 38px, rgba(0, 0, 0, 0.8) 0px 15px 12px;;
}