/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

/* reset */
h1,
h2,
ul,
li,
button,
img,
span,
strong,
section{
    margin : 0;
    padding: 0;
}

ul,li {
    list-style: none;
}

button,
input{
    background: none;
    border: 0;
    font-family: inherit;
}

button:enabled{
    cursor: pointer;
}

img{
    vertical-align: top;
}

/* theme */
:root{
    --bg-color:#EAE8FE;
    --main-color :#6327FE;
    --gray-4 : #BDBDBD;
}

/* css */
body{
    font-family: 'Noto Sans KR';
    background-color: var(--bg-color);
}
/* 제목 */
h1{
   text-align: center;
}
h1 img{
    max-width: 50%;
}
/* 메인 */
main {
    display: grid;
    
}
